
<div class="card m-5" >
  <div class="box m-5">

<form action= <%= user_index_path %> method="POST">

	<center> 

	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	
	<h4> Nom : </h4> <input type="text" name="last_name">
	<h4> Prenom : </h4> <input type="text" name="first_name"> 
	<h4> Age :</h4> <input type="text" name="Age"> 
	<h4> Email : </h4> <input type="email" name="email" placeholder="email@example.com">
	<h4> Ville : </h4> <input type="text" name="city">
	<h4> Mot de passe : </h4> <input type="password" name="psw">  
	<br>
	<br>
  	<input type="submit" value="Valider"> </center>


</form>

</div>
</div>