<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tu sais pas quoi? on vient de vendre une chatte de plus </h1>
    <ul>
    Surprise, c'est la chate à ta mère
    
    <% @products.each do |product|%>
      <%= image_tag product.avatar, alt: 'cat', height: 208, width: 208%>
     
    <%end%>
    </ul>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>