<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
   <h1>Salut <%= @creator.first_name %> Quelqu'un est inscrit à ton événement!</h1>
   <p>
     Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
   </p>
   <p> À très vite sur monsite.fr !
 </body>
</html>
