
<div class="container-fluid">
	<h2 class="d-flex justify-content-center mt-3">Bienvenue sur The Gossip Project</h2>
		<div class="row mt-3">
			<% @all_gossip.each_with_index do |gossip, i| %>

					<div class="card mx-auto mb-5" style="width: 15rem;">
			  			<div class="card-body">
			    		<h5 class="card-title"><%= gossip.user.first_name %> <%= gossip.user.last_name %></h5>
			    		<p class="card-text"><%= gossip.title %></p>
			    		<a href="/gossip/<%= i%>" class="btn btn-primary">Voir le potin</a>
			  			</div>
					</div>

			<% end %>
		</div>

</div>





