  <h1> Si vous souhaitez nous contacter :</h1>
  <p style="margin-bottom:20px;">

<div class="card-deck">
    <div class="card text-center">
        <div class="card-body">
            <h1 class="card-title">Dylan Langlois-Hérault</h1>
            <p class="card-text">Sur Slack : Dylan LH</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <h1 class="card-title">Salomé D A</h1>
            <p class="card-text">Sur Slack : Fihiz</p>
        </div>
    </div>
</div>

<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Votre e-mail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Tapez votre texte ici :</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="..." rows="3"></textarea>
  </div>
</form>