<div class="col-lg-3">

    <div data-toggle="sticky" data-sticky-offset="100" data-negative-margin=".card-profile-cover">

        <div class="card">
            <%= link_to @user, class: "btn btn-icon btn-group-nav shadow btn-secondary" do %>
                <div class="card-header py-3">
                        <span class="btn-inner--icon"><i class="fas fa-user"></i></span>
                        <span class="btn-inner--text d-none d-md-inline-block">My Profile</span>
                </div>
            <% end %>

            <div class="card-header py-3">
                <span class="h6">Settings</span>
            </div>
            <div class="list-group list-group-sm list-group-flush">
                <%= link_to edit_user_path(@user), class: "list-group-item list-group-item-action d-flex justify-content-between" do  %>
                    <div>
                        <i class="fas fa-user-circle mr-2"></i>
                        <span>Profile</span>
                    </div>
                    <div>
                        <i class="fas fa-angle-right"></i>
                    </div>
                <% end %>

                <%= link_to edit_user_registration_path, class: "list-group-item list-group-item-action d-flex justify-content-between" do  %>
                    <div>
                        <i class="fas fa-cog mr-2"></i>
                        <span>Settings</span>
                    </div>
                    <div>
                        <i class="fas fa-angle-right"></i>
                    </div>
                <% end %>
                <%= link_to orders_path, class: "list-group-item list-group-item-action d-flex justify-content-between"  do%>
                    <div>
                        <i class="fas fa-credit-card mr-2"></i>
                        <span>Billing</span>
                    </div>
                    <div>
                        <i class="fas fa-angle-right"></i>
                    </div>
                <% end %>
            </div>
        </div>

    </div>

</div>
