<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, du dossier views !</h1>
      <a href="/gossips/new/">nouveau gossip</a>
    	<% gossips.each_with_index do |gossip,index| %>
        <p>
          <a href="/gossips/<%= index+1 %>/"><%= gossip.author %></a><br/>
          <a href="/gossips/update/<%= index+1 %>/"><%= gossip.content %></a><br/>
        </p>
      <% end %>
  </body>
</html>
