
<section class="slice slice-lg bg-gradient-warning">
            <div class="container pt-xl">
                <div class="row">
                   
                </div>
            </div>
        </section>

        <section class="slice slice-lg pt-lg-5">
            <div class="container">
                <div class="row row-grid mt--200">
                    <div class="col-lg-6">
                        <div class="card bg-dark opacity-container text-white overflow-hidden shadow border-0">
                            <a href="https://www.google.com/maps/place/Chatonville,+78120+Sonchamp/@48.5566811,1.8536064,14z/data=!3m1!4b1!4m5!3m4!1s0x47e4253ba8521c97:0x3618a9cc6132bc9f!8m2!3d48.556683!4d1.871116" target="_blank" data-fancybox data-type="iframe" data-src="https://www.google.com/maps/place/Chatonville,+78120+Sonchamp/@48.5566811,1.8536064,14z/data=!3m1!4b1!4m5!3m4!1s0x47e4253ba8521c97:0x3618a9cc6132bc9f!8m2!3d48.556683!4d1.871116">
                                <div class="card-img-bg" style="background-image: url('../assets/img/prv/chatonville-1.jpg');"></div>
                                <span class="mask bg-gradient-dark opacity-9 opacity-8--hover"></span>
                                <div class="card-body px-5 py-5">
                                    <div style="min-height: 250px;">
                                        <h2 class="h2 text-white font-weight-bold mb-4">Chatonville</h2>
                                        <h5 class="text-white mt-4 mb-2">E:thekittenproject@company.com</h5>
                                        <h5 class="text-white">A: Chatonville 78120 Sonchamp</h5>
                                    </div>
                                    <span class="text-white text-uppercase font-weight-bold">
                                See on map
                                <i class="fas fa-angle-right ml-2"></i>
                            </span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card bg-dark opacity-container text-white overflow-hidden shadow border-0">
                            <a href="https://www.google.com/maps/place/Rue+du+Chat+Qui+P%C3%AAche,+75005+Paris/@48.853252,2.3440419,17z/data=!3m1!4b1!4m5!3m4!1s0x47e671e0ee60dc6f:0x68b031732a144b25!8m2!3d48.853252!4d2.3462306" target="_blank" data-fancybox data-type="iframe" data-src="https://www.google.com/maps/place/Rue+du+Chat+Qui+P%C3%AAche,+75005+Paris/@48.853252,2.3440419,17z/data=!3m1!4b1!4m5!3m4!1s0x47e671e0ee60dc6f:0x68b031732a144b25!8m2!3d48.853252!4d2.3462306">
                                <div class="card-img-bg" style="background-image: url('../assets/img/prv/Paris.jpg');"></div>
                                <span class="mask bg-gradient-dark opacity-9 opacity-8--hover"></span>
                                <div class="card-body px-5 py-5">
                                    <div style="min-height: 250px;">
                                        <h2 class="h2 text-white font-weight-bold mb-4">Paris</h2>
                                        <h5 class="text-white mt-4 mb-2">E: thekittenproject@company.com</h5>
                                        <h5 class="text-white">A: Rue du Chat Qui Pêche, 75005 Paris</h5>
                                    </div>
                                    <span class="text-white text-uppercase font-weight-bold">
                                See on map
                                <i class="fas fa-angle-right ml-2"></i>
                            </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

       


    </main>
s
<%=stylesheet_link_tag"home"%>

<h1>Our Team</h1>

<table class="table table-hover table-cards align-items-center">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Life Motto</th>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-white">
            <th scope="row">
                <div class="media align-items-center">
                    <img src="../assets/img/prv/thumb-1.jpg" class="avatar avatar-lg mr-3">
                    <div class="media-body">
                        <h6 class="h5 font-weight-normal mb-0">Julien Nguyen</h6>
                        <span class="font-weight-normal text-muted">King of the north</span>
                    </div>
                </div>
            </th>
            <td>JN@example.com</td>
            <td>Get wasted</td>
        </tr>
        <tr class="table-divider"></tr>
        <tr class="bg-white">
            <th scope="row">
                <div class="media align-items-center">
                    <img src="../assets/img/prv/thumb-2.jpg" class="avatar avatar-lg mr-3">
                    <div class="media-body">
                        <h6 class="h5 font-weight-normal mb-0">Thomas Feral</h6>
                        <span class="font-weight-normal text-muted">Commander of the Dark Army</span>
                    </div>
                </div>
            </th>
            <td>TF@example.com</td>
            <td>Get filthy rich</td>
        </tr>
        <tr class="table-divider"></tr>
        <tr class="bg-white">
            <th scope="row">
                <div class="media align-items-center">
                    <span class="avatar avatar-lg bg-blue mr-3">WS</span>
                    <div class="media-body">
                        <h6 class="h5 font-weight-normal mb-0">Jean Tirard</h6>
                        <span class="font-weight-normal text-muted">A God among us</span>
                    </div>
                </div>
            </th>
            <td>JT@example.com</td>
            <td>One day, it will be MINE !!</td>
        </tr>
        <tr class="table-divider"></tr>
        <tr class="bg-white">
            <th scope="row">
                <div class="media align-items-center">
                    <span class="avatar avatar-lg bg-pink mr-3">CT</span>
                    <div class="media-body">
                        <h6 class="h5 font-weight-normal mb-0">Maxence Kieger</h6>
                        <span class="font-weight-normal text-muted">Final Boss</span>
                    </div>
                </div>
            </th>
            <td>MK@example.com</td>
            <td>Eat, Sleep, Rave, Repeat</td>
        </tr>
        <tr class="table-divider"></tr>
        <tr class="bg-white">
            <th scope="row">
                <div class="media align-items-center">
                    <span class="avatar avatar-lg bg-pink mr-3">CT</span>
                    <div class="media-body">
                        <h6 class="h5 font-weight-normal mb-0">Florent Bilocq</h6>
                        <span class="font-weight-normal text-muted">knight of the apocalypse</span>
                    </div>
                </div>
            </th>
            <td>FB@example.com</td>
            <td>Boom bitch, get out the way</td>
        </tr>
        <tr class="table-divider"></tr>
        <tr class="bg-white">
        <th scope="row">
            <div class="media align-items-center">
                <span class="avatar avatar-lg bg-pink mr-3">CT</span>
                <div class="media-body">
                    <h6 class="h5 font-weight-normal mb-0">Gregoire Dalmasso</h6>
                    <span class="font-weight-normal text-muted">The Game Master</span>
                </div>
            </div>
        </th>
        <td>GD@example.com</td>
        <td>Damn, what s up with your face ?</td>
    </tr>
    <tr class="table-divider"></tr>
    </tbody>
</table>

