
<div class="card m-5" >
  <div class="box m-5">

<form action= <%= login_index_path %> method="POST">

	<center> 

	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<h4> Email : </h4> <input type="email" name="email" placeholder="email@example.com">
	<h4> Mot de passe : </h4> <input type="password" name="psw">  
	<br>
	<br>
  	<input type="submit" value="Valider"> </center>
  	<br>
  	<br>

  	<center> <%= link_to "Créer un compte", controller: "user", action:"new" %> </center>


</form>


</div>
</div>
