<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @admin.first_name %> !</h1>
    <p>
    <%= @attendee %> s'est incrit à ton évènement : <%= @event %>.
    </p>
  </body>
</html>