<% gossip = Gossip.find(@id_gossip)
    @title = gossip.title
    @content = gossip.content
    @user = gossip.user.first_name 
    @user_id = gossip.user_id 
    %>
<div class="container">
  <h1> Et en v'là un beau gossip... </h1>
  <blockquote class="blockquote">
    <h3 class="mb-0 font-weight-bold"> <%= @title %> </h3>
    <p class="text-justify"> <%= @content %> </p>
    <p>Par <%=link_to @user,user_path(@user_id)%></p>
    <p>Le <%=@time %></p>
  </blockquote>
</div>