<!DOCTYPE html>
<html>
<head>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><h1> Contacte nous :</h1>
    <p class="lead"><p>

Maxime Parsis:
E-mail: <a href="mailto:support@mysite.com">Mp@mysite.com</a> /  

Sebastien Lim:
E-mail: <a href="mailto:support@mysite.com">Sb@mysite.com</a> / 

Theo Martin: E-mail: <a href="mailto:support@mysite.com">Tm@mysite.com</a>
 
 </p>


  </p>
  </div>
</div>
  
</head>
<body>

<div class="container">
<h2> Envoie nous un message :</h2><br />

<div class="row">
  <div class="col-md-8">
      <form action="/post" method="post">
        <input class="form-control" name="name" placeholder="Name..." /><br />
        <input class="form-control" name="phone" placeholder="Phone..." /><br />
        <input class="form-control" name="email" placeholder="E-mail..." /><br />
        <textarea class="form-control" name="text" placeholder="How can we help you?" style="height:150px;"></textarea><br />
        <input class="btn btn-primary" type="submit" value="Send" /><br /><br />
      </form>
  </div>

 </div>
</div>

</body>
</html>



