<h1>Détails Utilisateur</h1>

<table>
	<tr><td><b>First Name : &nbsp;</b></td><td><%= @user.first_name %></td></tr>
	<tr><td><b>Last Name : &nbsp;</b></td><td><%= @user.last_name %></td></tr>
</table>

&nbsp;<br/>
<%= link_to "retour", "/" %>

