<h1 class="w-100 d-flex f-middle">Voici tous les évenements passé et à venir ! :</h1>


<div class="grid">
	<% @events.each do |event| %>
	<%= render "event-card", locals = {event: event} %>
	<% end %>
</div>
