 <footer class="footer footer-light bg-white">
        <div class="container">
            <div class="row pt-md">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <%= link_to root_path do  %>
                        <img src="/assets/img/logo-1.png" alt="Footer logo" width="250" height="100">
                    <% end %>
                    <p class="text-sm">a unique and beautiful photo collection of kitten, you will fall for our little ball of hair too cute.</p>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0 align-self-center">
                    <h6 class="heading mb-3">Account</h6>
                    <ul class="list-unstyled">
                    </ul>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0 align-self-center">
                    <h6 class="heading mb-3 margin-bottom:0">About</h6>
                    <ul class="list-unstyled text-small">



                 </ul>
                </div>
                <div class="col-lg-2 col-sm-4 mb-5 mb-lg-0 align-self-center">
                    <h6 class="heading mb-3">Company</h6>
                    <ul class="list-unstyled">

                    </ul>
                </div>
            </div>
            <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
                <div class="col-md-6">
                    <div class="copyright text-sm font-weight-bold text-center text-md-left">
                        &copy; 2018 <a class="font-weight-bold" target="_blank">TKP</a>. All rights reserved.
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                        <li class="nav-item">
                            <a class="nav-link" target="_blank">
                                <i class="fab fa-dribbble"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <%= link_to "<i class='fab fa-github'></i>".html_safe, "https://github.com/Ljulienng/thp_kitties", :class => "nav-link", :target => "_blank" %>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
