<section>
      <div class="container-fluid p-3 mb-2 bg-info text-white">
        <br /><h2>Venez nous voir à la Felicita de la Station F !!!</h2><br />
        <p> Travailleurs infatigables fonctionnant au café, nous sommes dans les locaux de 9h30 à 19h (au moins...) du lundi au vendredi jusqu'à fin mars!!!</p><br />
        <p> Si vous n'habitez pas Paris, retrouvez nous sur Slack : Viviane de Pétigny (@viviane de petigny), bastien Hiel (@bastien hiel), Alexis Janin (@alexdji)</p><br />
      </div>
   </section>