<section>
    <div class="container">
      <div class="row">
        <div class="col-sm d-flex flex-column align-items-center"><br />
        <i class="fas fa-user-circle fa-5x"></i><br />
        <h2>Viviane</h2>
        <p class=text-justify>24 ans, Paris, dictateur en chef et diplomate en herbe. Craqueurs de doigts, s'abstenir... (à vos risques et périls...)</p><br />
        </div>
        
        <div class="col-sm d-flex flex-column align-items-center"><br />
        <i class="fas fa-user-circle fa-5x"></i><br />
        <h2>Bastien</h2>
        <p class=text-justify>27 ans, Paris, développeur ruby. Passionné de Rocket League, recrute partenaire potentiel..(débutants bienvenus!!!)</p><br />
        </div>
        
        <div class="col-sm d-flex flex-column align-items-center"><br />
        <i class="fas fa-user-circle fa-5x"></i><br />
        <h2>Alex</h2>
        <p class=text-justify>24 ans, Paris, inspecteur des travaux finis. Passioné de pétanques et de complots, j'anime vos conversations de cafés et bars. </p><br />
        </div>
      </div>
    </div>
</section>