


    <!--START-->

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2017/12/29/20/08/eye-3048526_960_720.jpg" alt="product">
                <div class="card-body">
                    <h5 class="heading heading-5 strong-600">Title</h5>
                    <h6 class="text-muted mb-4">description</h6>
                    <p class="card-text">description balblabla</p>
                    <h6 class="text-muted mb-4">Price</h6>
                    <p class="card-text">$$$$$$$</p>
                    <a href="#" class="btn center btn-sm btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
    </div>

    <!--END-->

    