

    <!--START-->

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2014/03/29/09/17/cat-300572_960_720.jpg"
            alt="Card image cap" class="img-fluid">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text....</p>
            <h5>Price</h5>
            <p>The price</p>
            <button type="button" class="btn btn-secondary btn-icon-label">
                <span class="btn-inner--icon"><i class="fas fa-shopping-cart"></i></span>
                <span class="btn-inner--text">Add to cart</span>
            </button>
        </div>
    </div>

    <!--END-->
