<center> <h1>Welcome to <%= @city.name %> </h1>
<p>C'est cool de voyager sans prendre l'avion !</p> </center>

<div class="container">
<h1>Bienvenue sur notre site The Gossip Project !</h1>
<p>>Voici les potins les plus récents dans cette ville:</p>
  <div class="card-deck">
    <div class="col-3">
      <div class="card mb-4">
        <div class="card-body">
          
        </div>
      </div>
    </div>
  </div>
</div>