<h1 class="text-center">Détails Utilisateur</h1>

<table>
	<tr><td><b>First Name : &nbsp;</b></td><td><%= @user.first_name %></td></tr>
	<tr><td><b>Last Name : &nbsp;</b></td><td><%= @user.last_name %></td></tr>
</table>

<div style="margin:20px 0 0 0;">
	<%= link_to "retour", root_path, :class => "btn btn-primary" %>
</div>

